*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




section {
    min-width: 100vh;
    height: 500px;
    background-color: white;
    border: solid black 1px;
    font-family: 'Poppins', sans-serif;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
  }

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 30px;    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
    
}

.resume{
    margin: 20px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}


ul{
    margin: 20px;
    display: flex;
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

li{
    text-decoration: none;
    width: 200px;
}

h1{
    font-size: 70px;
}

p{
    margin: 0px;
}

.hero-text{
    margin: 40px;
    padding-top: 13vh;
}

.button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    background-color: coral;
}

.button:hover{
    background-color: #f1683a;
}
.button:active{
    background-color: #a9a9a9;
    color: #808080;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.socials{
    padding-right: 40px;
    padding-top: 20vh;
}

.icon{
    margin: 10px;
}

.icon:hover{
    transform: scale(1.2);
}

.about{
    padding-top: 5vh;
    padding-left: 5vh;
    height: 90vh;

}

.information{
    font-size: 130%;
}

.icondaily{
    display: inline;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.list{
    display:inline-flex;
}

@font-face {
    font-family: fontawesome;
    src: url(fontawesome-webfont.woff2);
}

.projects{
    padding-left: 5vh;
    padding-top: 5vh;
}

.myprojects{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
}


footer{
    min-width: 100vh;
    height: 28vh;
    background-color: black;

    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}

.contact{
    padding-top: 5vh;
    padding-left: 5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.icont{
    padding-top: 5vh;
}

.icont>a{
    margin-right:  5vh; ;
}


